div.my-auto{
  position: relative;
}

#submit-simule{
  content: "";
  position: absolute;
  top: calc(100% - 30px);
  left: calc(100% - 420px);
}
#submit-simule-mobile{
  position: absolute;
  top: calc(100% - 21px);
  left: calc(30%);
}

.button-certificado{
  content: "";
  position: absolute;
  top: calc(100% - 20px);
  left: calc(50% - 71px);
}
.button-certificado:hover svg path {
  stroke: #ffffff;
}

.button-certificado-middle:hover .svg-hover path {
  stroke: #23a6f0;
}

.owl-item {
  height: 355px !important;
}